@tailwind base;
@tailwind components;
@tailwind utilities;

#external,#external2{
    transition: all 200ms;
}
#external:hover{
    img{
        
        background-color: #0b72e7;
    }
    box-shadow: -10px -10px 10px rgb(218, 217, 217);
    
}
#external2:hover{
    #img1{
        background-color: #0b72e7;
    }
    box-shadow: -5px -5px 10px rgb(24,28,56);
}

#card2:hover{
    background-image: url('instant-settlement-bghover.svg');
}

#card3:hover{
    background-image: url('upi-autopay-hoverbg.svg');
    
}
#card4:hover{
    background-image: url('magic-checkout-hoverbg.svg');
    
}

#card5:hover{
    background-image: url('payment-button-hoverbg.svg');
    
}
#card6:hover{
    background-image: url('instantsettlement-hoverbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


#imagemove{
    animation: blur 7s linear infinite;
    transition: all 4s;
}
@keyframes blur{
    0%{
        top: 0px;
        opacity: 0;
    }
    5%{
        top: -30px;
        opacity: 1;

    }
    10%{
        top: -60px;
        opacity: 1;

    }
    15%{
        top: -90px;
        opacity: 1;

    }
    20%{
        top: -120px;
        opacity: 1;

    }
    25%{
        top: -150px;
        opacity: 1;

    }
    30%{
        top: -180px;
        opacity: 1;

    }
    35%{
        top: -210px;
        opacity: 1;

    }
    40%{
        top: -240px;
        opacity: 1;

    }
    45%{
        top: -270px;
        opacity: 1;

    }
    50%{
        top: -300px;
        opacity: 1;

    }
    55%{
        top: -330px;
        opacity: 1;

    }
    60%{
        top: -360px;
        opacity: 1;

    }
    65%{
        top: -390px;
        opacity: 1;

    }
    70%{
        top: -420px;
        opacity: 1;

    }
    75%{
        top: -450px;
        opacity: 1;

    }
    80%{
        top: -480px;
        opacity: 1;

    }
    85%{
        top: -510px;
        opacity: 1;

    }
    90%{
        top: -540px;
        opacity: 1;

    }
    95%{
        top: -570px;
        opacity: 1;

    }
    100%{
        top: -600px;
        opacity: 0;
    }
}
