@tailwind base;
@tailwind components;
@tailwind utilities;

#external,#external2{
    transition: all 200ms;
}
#external:hover{
    img{
        
        background-color: #0b72e7;
    }
    box-shadow: -10px -10px 10px rgb(218, 217, 217);
    
}
#external2:hover{
    #img1{
        background-color: #0b72e7;
    }
    box-shadow: -5px -5px 10px rgb(24,28,56);
}

#card2:hover{
    background-image: url('instant-settlement-bghover.svg');
}

#card3:hover{
    background-image: url('upi-autopay-hoverbg.svg');
    
}
#card4:hover{
    background-image: url('magic-checkout-hoverbg.svg');
    
}

#card5:hover{
    background-image: url('payment-button-hoverbg.svg');
    
}
#card6:hover{
    background-image: url('instantsettlement-hoverbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

